# =====================
# Terraform
# =====================
*.tfstate
*.tfstate.*
crash.log
crash.*.log

.terraform/
.terraform.lock.hcl

*.tfvars
*.tfvars.json

override.tf
override.tf.json
*_override.tf
*_override.tf.json

terraform.rc
.terraformrc

# plan files (optional but recommended)
tfplan
*.tfplan

# =====================
# Docker
# =====================
**/docker-compose.override.yml
**/docker-compose.*.override.yml

*.pid
*.seed
*.log

# container volumes (if local dev)
volumes/
data/

# =====================
# OS / IDE
# =====================
.DS_Store
Thumbs.db

.vscode/
.idea/

# =====================
# Environment variables
# =====================
.env
.env.*

# =====================
# Backup / temp
# =====================
*.bak
*.tmp
*.swp
node_modules